---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.qAIIbCbNxn0zRxh7vAgpRtjimo2RY6JQuGfIG4Hxs-b5pp2BNsuf3zg2cMg3Y_RaIlA",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjA4ZjljN2MwMDhjZGEwNWJmYWJhNDMzYjZhMWVhN2NkNGZjNTg4ZjcifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6IlEtTnVQbEQ3dXZFVGtTcldPM2pqWFEiLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTgxOTAxNDEsImV4cCI6MTQ1ODE5Mzc0MX0.wmORH288gaFxzu_rQExHLd7dNhFa99TDdy5q6pCxGtqm12soJBLLVoCavR-1xXe2Hiql_hABg6Dw8l4781ZL5bgLp84gSXBLfd5OHa-M19m-tuOkNVqOzBypQ2eMLZTAJQ1YRCbJ0HeSvVRBDIGKhsqdv4vaNsd2Ambc7vrTgZKldg4Ch_luHuf7GiUhR770npK1snHTCAuKLSoJTXX6_cQXtZPWthT_lbhwsz6Y67nsvUJelGpfUz9lvKRbLwR9IIGzwfdkPwIKmPI22M9hCMpc9i8q84BdFXl6QInVRsbd0ZONORjxQ1XIruHdZh2Tz4nWP-T5Qk1IGSa1ezdENg"
        }
  recorded_at: Thu, 17 Mar 2016 04:49:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"parents":[]}'
    headers:
      Authorization:
      - Bearer ya29.qAJLIBY0KnIxSU763mPUkBQPSHkLs_0Xmg9s2SxT0Yv-ExyH-8zc99YvBD5GlDuwfrI
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Ups1pAHpl_VScbQmuYMLw5D2n9pOUVDrRC6XVP1yvt7bQ6VVdJ_ZohvW3JmrkigoQOcacsKsoJANaAxJW0SiNESz9T8Bg&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Ups1pAHpl_VScbQmuYMLw5D2n9pOUVDrRC6XVP1yvt7bQ6VVdJ_ZohvW3JmrkigoQOcacsKsoJANaAxJW0SiNESz9T8Bg&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/GlHbBFDt284X6eEw1J1Fe2ngpC0"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qkce184:4552
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpuCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGOCm687uAiJHOTg0MTI3MTI4MDAtOW9sanRkNnNvOXVkdDdndHE5b3RkcjI2bnBsbGlidTcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20w7w4w8Q5KWxJIeWEyOS5xQUpMSUJZMEtuSXhTVTc2M21QVWtCUVBTSGtMc18wWG1nOXMyU3hUMFl2LUV4eUgtOHpjOTlZdkJENUdsRHV3ZnJJMAQ6DTEvd1l2WEllOFBjbH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 17 Mar 2016 04:49:01 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 04:49:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Ups1pAHpl_VScbQmuYMLw5D2n9pOUVDrRC6XVP1yvt7bQ6VVdJ_ZohvW3JmrkigoQOcacsKsoJANaAxJW0SiNESz9T8Bg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.qAJLIBY0KnIxSU763mPUkBQPSHkLs_0Xmg9s2SxT0Yv-ExyH-8zc99YvBD5GlDuwfrI
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE5MDE0MjMzNw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexncFVESHlCTTNvb1k",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE5MDE0MjMzNw\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexncFVESHlCTTNvb1k",
         "webContentLink": "https://docs.google.com/uc?id=0B37u_eLqcexncFVESHlCTTNvb1k&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B37u_eLqcexncFVESHlCTTNvb1k/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/generic_app_icon_16.png",
         "title": "Untitled",
         "mimeType": "application/text",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-17T04:49:02.337Z",
         "modifiedDate": "2016-03-17T04:49:02.337Z",
         "modifiedByMeDate": "2016-03-17T04:49:02.337Z",
         "lastViewedByMeDate": "2016-03-17T04:49:02.337Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "178",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexncFVESHlCTTNvb1k/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-04-2c-docs.googleusercontent.com/docs/securesc/odi09ajak630ptsu4johj608bcao2g6p/86vtqre50galsd4c9i94bte83h8pjs7v/1458187200000/13737777834403275468/13737777834403275468/0B37u_eLqcexncFVESHlCTTNvb1k?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/Tvd3jWsrCmZ9ihPq08I4ec61Leo\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexncFVESHlCTTNvb1k/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Untitled",
         "fileExtension": "",
         "md5Checksum": "d41d8cd98f00b204e9800998ecf8427e",
         "fileSize": "0",
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B37u_eLqcexnZm56d3BhTVYvaUd1Z1g5RWV2SEtJZGgyV3p3PQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Thu, 17 Mar 2016 04:49:02 GMT
[...]
