---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpYkK0IsZjfcLDdeajsN37P77HDO1ADo6lI_nI2oox8rZFZeCAuGlk4P2UnDUeteSmqZ2JrggGqdK79FJHOCVWMp9JbyZuHfMRNhHfW9EXiu-PISmU&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAwSNRfQOtZ-9naQRmIBC3dJ6lNGKP4fqBdq5qFC_2bwfnbtPmaUvmWwFf9JOzQ
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NTg3OTc3NA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:38:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqM-4bm2vO3GnGuwNkrF4eWoCU1E_cVy6ckEbbQzdiKsSzY6_9193nx_jL_BK7B30Og8gmJTG1MxNohj83IEBMpEoRm5Q&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA6Y6OLNFYrL9bDo_xBIadc7E6NTY3cP3B353k1Mga3NcQHOvXhZR1KmiJa8cEw
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjA2OTY4Mw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:41:10 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UozdH7K7VWRGE7yfs8k13IN-X47ae_mVZKpjO2pybs9yfg_p9LqFJs4TQW6VliG2hkgrk-44r6bGFTtQILenns4JJtrKw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA3GwyYRdjwDZabnmOrcJF5zwcdMykSb_Wd42d-n24cldNadj9tGsLQfbvuwWuw
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjEzMDIxMg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:42:10 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpOMFVIVEGLThFLjNxQOMDn2LQ7v4LH7ZAxQVG7rXWm2Hnm6bzmejXwYfCfDbBs2D2MvC1NsBVqBoXwCv89i2hIQXumww&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA7emvO4v5yN_lLyLC9rS5z_W6HBUrbyyNv2joq0Al5e78cVtaefGkhFV4kPOyg
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjI3ODIyOQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:44:38 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<ENCODED_REFRESH_TOKEN>&client_id=<CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.Ci-XAwMYpsK_7L7JuvzDoj1gRQfESqTc0r1FOQlfPDQj5tlW5CONtAdtx1qR-GocuQ",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6ImRhOWUzZDdjZGQxYjQxNzgwMTBmODlhZjExY2ZkMzc0MDAwNjFhZmMifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiaWF0IjoxNDc5MjQ3MTQ3LCJleHAiOjE0NzkyNTA3NDcsImF0X2hhc2giOiJpenc1ZUkwTzN6SmRjM2FtS2l4MXFnIiwiYXVkIjoiNDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTExNDM0MDYxNzIyNTY0NDA5NTM1IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF6cCI6IjQ5NDEwMTYyMjIxOS1sMWhkcGg3cmNqaWkya2JsYmxkbTEwN3U3dGxqbm1lMS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20ifQ.CXQNC3xSaO-8omUxkJjCAUOVssTTrohAiH4NOVsSHiLS1W4m7MIXEUroCwMViCfl7cBtIWRXMmthmpPtF9yACE0T-IOKlqkX8QiINq4zynjO2LcU4b6Q6V8p0lIHR9vgaK6ItiGRW_LapKEre2wb8NKewXCFZSVi3QSiQ1TUCh9obDR4Cez9WYQklev514xEEUHAFbEnCKtZTtlkzkPQsehKjHteKgtSJljhTY_qYJOtPBDnVJi0tb9impRx8rIIPXxBiN7Oa2Gefd4u4_7_qNuXeNyj-lFhJNcY-XiBPv8w97smBOXGE9c-c-hVlFIW9fZSm_h2qJgP6ZxwHFdEMQ",
          "token_type" : "Bearer"
        }
  recorded_at: Tue, 15 Nov 2016 21:59:07 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"id":"","parents":[],"title":"Fake Title"}'
    headers:
      Authorization:
      - Bearer ya29.Ci-XAwMYpsK_7L7JuvzDoj1gRQfESqTc0r1FOQlfPDQj5tlW5CONtAdtx1qR-GocuQ
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqyeAlx05yq5xW27f6HXHv-CeVPYU0dV7ARtyo4ebVuw69WVt-LkDPkYxGui3eYmXNKC3Vpuz8lED1sfGgE-7Jqvie-bA&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqyeAlx05yq5xW27f6HXHv-CeVPYU0dV7ARtyo4ebVuw69WVt-LkDPkYxGui3eYmXNKC3Vpuz8lED1sfGgE-7Jqvie-bA&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/Zl6k3BhfJxRF5XoxhNV-ktqPg_4"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qks19:4667
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpyCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGMvbgdawDiJINDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOMPgOMO8OSloSR3lhMjkuQ2ktWEF3TVlwc0tfN0w3SnV2ekRvajFnUlFmRVNxVGMwcjFGT1FsZlBEUWo1dGxXNUNPTnRBZHR4MXFSLUdvY3VRMAQ6DTEvMFlId3FlUnRhRH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Tue, 15 Nov 2016 21:59:07 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:07 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqyeAlx05yq5xW27f6HXHv-CeVPYU0dV7ARtyo4ebVuw69WVt-LkDPkYxGui3eYmXNKC3Vpuz8lED1sfGgE-7Jqvie-bA&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAwMYpsK_7L7JuvzDoj1gRQfESqTc0r1FOQlfPDQj5tlW5CONtAdtx1qR-GocuQ
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NzE0ODAxNg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:08 GMT
recorded_with: VCR 2.9.3
