---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpTqVTIGLzzw_S_VHT37tb_MEvCtYc8GoVJrt_MheRWpfoo8QYJncepZeEJHfdYnL9uW_njpjXR8rgugq_UKfve7J2a2ja2PfXRF7p12mlFLzpwBzs&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA67xZSXzzqtxMh37pPP_8I3nsOP-oVjftWiqWy_oPWydOAsFvlK-eMUgwqsuBQ
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NTg3ODU5Mw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:37:58 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqSW4pd6-_1XxGOoi4pG1dsam9G5Te3sA314oLKgCglx2idkeYFefmQ3ilB_SRPudRDR7sMepzPGE9NtxbCUFdURQd5mg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAwBDI_fZ8s2mgN6LoujrweemjOZQzdxg6X7TpwRWkfU3v2LbyC6S9CUrSgNkig
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjA2ODI0NQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:41:08 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpLmQ4u6gs_5qkYf8_ZVAlVFYDzuMaXuJacOCVI4fldXKGKO707teCcptcu47DvNWxlYwLPObjMMxvOnE6csbywYphx5g&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA5rYvTr8SsY8mE-aA4mL2IJlz0enZSkQxq2pScrht-8ufxlCmDlvvKMNBl3adA
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjEzMTU4OA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:42:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqncIth4oQk3WBNqi92pK_9CA5xAk3uuO582-jjmhDLgPYch5q6W5weCv5_IzPEGjkQdHNDiLWuSaJruv0WPLEuuQeXnQ&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAwsz-3poE40N-QRfGaKRbTEop0-EfcKJvKyFi8hzFfN25S7od0ynMiZ5NUEudg
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjI3OTUwMg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:44:40 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<ENCODED_REFRESH_TOKEN>&client_id=<CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.Ci-XA_FNc5dIWRAqKfmZ1vK7KWY-upRGy9ycFIhJGstwIlr21wtGWqw91akDVIh4kA",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6ImRhOWUzZDdjZGQxYjQxNzgwMTBmODlhZjExY2ZkMzc0MDAwNjFhZmMifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiaWF0IjoxNDc5MjQ3MTQ4LCJleHAiOjE0NzkyNTA3NDgsImF0X2hhc2giOiJpX09QNlR2MGE2UW13YWM0N0NnOHp3IiwiYXVkIjoiNDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTExNDM0MDYxNzIyNTY0NDA5NTM1IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF6cCI6IjQ5NDEwMTYyMjIxOS1sMWhkcGg3cmNqaWkya2JsYmxkbTEwN3U3dGxqbm1lMS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20ifQ.pIrYj__xCeEWzDcsqupjeHmcQyGJWk2QNd_aPV32KhHzbkyWxAlesY1ixhR9ppR4-53WvYQlo3Czjg4Y3bHNwag45ROPanBCpu8znza-rGBkotwYpft770VE21pYvgfEW9HdlpOjg9F0MPxKj2CtdtqxyP8i26xcUGv-yVu_cTn0DcmQkT7XNnMloFMUlj1VNIUiSWbpVAHn9OxB7U1_82xwpDVGvr9M5jE5sHMr31P4bDGZJ6Bslhg9uZ_0n93B2w-SYDZ1hMCtNoZY-G56QVgmhWRLD-R4NFOZXiyf2Kx0LSuz7AEIh0ZURU421zhhqUgdtNDnBkDbteAhyrIaVw",
          "token_type" : "Bearer"
        }
  recorded_at: Tue, 15 Nov 2016 21:59:08 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"id":"","parents":[],"title":"Fake Title"}'
    headers:
      Authorization:
      - Bearer ya29.Ci-XA_FNc5dIWRAqKfmZ1vK7KWY-upRGy9ycFIhJGstwIlr21wtGWqw91akDVIh4kA
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UoPvyIC2Vp5oGXay8v_XnBc_YIi-xSLXeAPurKk-E6jb4ozCN-5xHM5Ew-NCWe-cDACo8Fu-uzIgcuj97UJXon2id_5Gw&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UoPvyIC2Vp5oGXay8v_XnBc_YIi-xSLXeAPurKk-E6jb4ozCN-5xHM5Ew-NCWe-cDACo8Fu-uzIgcuj97UJXon2id_5Gw&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/Zl6k3BhfJxRF5XoxhNV-ktqPg_4"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qkdr188:4813
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpyCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGMvbgdawDiJINDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOMPgOMO8OSloSR3lhMjkuQ2ktWEFfRk5jNWRJV1JBcUtmbVoxdks3S1dZLXVwUkd5OXljRkloSkdzdHdJbHIyMXd0R1dxdzkxYWtEVkloNGtBMAQ6DTEvMFlId3FlUnRhRH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Tue, 15 Nov 2016 21:59:09 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:09 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UoPvyIC2Vp5oGXay8v_XnBc_YIi-xSLXeAPurKk-E6jb4ozCN-5xHM5Ew-NCWe-cDACo8Fu-uzIgcuj97UJXon2id_5Gw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA_FNc5dIWRAqKfmZ1vK7KWY-upRGy9ycFIhJGstwIlr21wtGWqw91akDVIh4kA
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NzE0OTUwMg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:09 GMT
recorded_with: VCR 2.9.3
