---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.pwIf-1G2TpnSwjffzlj9So2HGTgKO6_K0euXS_IP7bDJzH7oa9bABXnObMzDIBFueiQ
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uolxs5T3E1vRdmbm53XMhdMbKqNLiq9KaAe-K7QhirEX0FLkhsTCtuRV7SfyP7NkzVDZ8TzFIKCnuMucSjDj54dEZ1bhw&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uolxs5T3E1vRdmbm53XMhdMbKqNLiq9KaAe-K7QhirEX0FLkhsTCtuRV7SfyP7NkzVDZ8TzFIKCnuMucSjDj54dEZ1bhw&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/GlHbBFDt284X6eEw1J1Fe2ngpC0"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qgdf78:4825
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpuCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGOCm687uAiJHOTg0MTI3MTI4MDAtOW9sanRkNnNvOXVkdDdndHE5b3RkcjI2bnBsbGlidTcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20w7w4w8Q5KWxJIeWEyOS5wd0lmLTFHMlRwblN3amZmemxqOVNvMkhHVGdLTzZfSzBldVhTX0lQN2JESnpIN29hOWJBQlhuT2JNekRJQkZ1ZWlRMAQ6DTEvd1l2WEllOFBjbH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Wed, 16 Mar 2016 19:03:37 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Mar 2016 19:03:37 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uolxs5T3E1vRdmbm53XMhdMbKqNLiq9KaAe-K7QhirEX0FLkhsTCtuRV7SfyP7NkzVDZ8TzFIKCnuMucSjDj54dEZ1bhw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.pwIf-1G2TpnSwjffzlj9So2HGTgKO6_K0euXS_IP7bDJzH7oa9bABXnObMzDIBFueiQ
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE1NTAxOTQyNw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexnRFZ0NEJSa0R5Y1E",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE1NTAxOTQyNw\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnRFZ0NEJSa0R5Y1E",
         "webContentLink": "https://docs.google.com/uc?id=0B37u_eLqcexnRFZ0NEJSa0R5Y1E&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B37u_eLqcexnRFZ0NEJSa0R5Y1E/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/generic_app_icon_16.png",
         "title": "Untitled",
         "mimeType": "application/text",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-16T19:03:39.427Z",
         "modifiedDate": "2016-03-16T19:03:39.427Z",
         "modifiedByMeDate": "2016-03-16T19:03:39.427Z",
         "lastViewedByMeDate": "2016-03-16T19:03:39.427Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "158",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnRFZ0NEJSa0R5Y1E/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-04-2c-docs.googleusercontent.com/docs/securesc/odi09ajak630ptsu4johj608bcao2g6p/dbhnvcgd0afgunlpab8sdugch2jfi3jc/1458151200000/13737777834403275468/13737777834403275468/0B37u_eLqcexnRFZ0NEJSa0R5Y1E?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/ShB7R5W4febC_YdyHfIMe82jqDE\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnRFZ0NEJSa0R5Y1E/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Untitled",
         "fileExtension": "",
         "md5Checksum": "d41d8cd98f00b204e9800998ecf8427e",
         "fileSize": "0",
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B37u_eLqcexnbWpkWnp3MnlpMHR3WEhsZzZRSXJBQUNNVU5RPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Wed, 16 Mar 2016 19:03:40 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.pwI40N9lMJ4kf8-cS1JyJNp2d_xbGm_y7MNe_v7E1fOR2MXfR7pZj4bbO_LQvejIzl4",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjA4ZjljN2MwMDhjZGEwNWJmYWJhNDMzYjZhMWVhN2NkNGZjNTg4ZjcifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6IjBaUWJLbWRJV3dwd0hkRWcxeDltNHciLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTgxNTUwNDYsImV4cCI6MTQ1ODE1ODY0Nn0.O-PWKE9-c3BhjQv8HRIIFbJZiAorX9f2UgAIP1cDjSfzDgm7pBgUI1OgCfXkT-2yI9dkBpPJYyeifYIdm__aqH40-jQENTPWcQ7s4MzY1lVaEInDmri7qVKYfuYVzOIkfK0n4QxBOX6i_JG-MP5xs4zmOEeL0ll2RNMQB-TWqu0HSKe-JtuWS8VEmMOfoXVBpXY_wb1PPwFXnj2m60UMDC1Q-zDU1gyCiDQS72XKM_cLGuY07i0P9YpJo16R2kpTOACbfdHeTT5fg0ntCAvRUHp60xkHRC7G8n5EtThqt2kjxxgdfRjbw-j2rfO-K5yoXvB9nKXwAr79wK_JagdHMg"
        }
  recorded_at: Wed, 16 Mar 2016 19:04:06 GMT
[...]
