---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Goog-Upload-Status:
      - final
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/"
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "required",
            "message": "Login Required",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Login Required"
         }
        }
  recorded_at: Thu, 17 Mar 2016 01:59:06 GMT
recorded_with: VCR 2.9.3
