---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.qAKPkIs4S5fca1xZX05gRgeuCgoDK31FOe1I1tNmW6QpCVKu9w_TXBoEzC6MaHLzJbs",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjA4ZjljN2MwMDhjZGEwNWJmYWJhNDMzYjZhMWVhN2NkNGZjNTg4ZjcifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6Ikk1dkxSUEprMHpabG55ZFlkTi1jekEiLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTgxODc4NzUsImV4cCI6MTQ1ODE5MTQ3NX0.U6Z1bRpyy3S3wkP7CC7NsBagQF1rBg1d9XceWmgeldAUIU-4pivS_UvyxdsBADujEOt8dfU9WagYMgj0qHcINkOxCGAFgJZ4TRdxoawJ3DQBphIrKRbJs80jGJJ8B-ljdTCFO2ysOXjOqmxf9Pf7uKObbB-UlS-WldvXyXdcjIXdrd_tc67Dle25Nq7WT_-CExF6swjpqykEWNBzRYCX1nBz5kHQtr2nwG9KIdf_p9i_QpBFa-KlXq-dTZ4ZuMLu15rdx4S2_Okn6Ce7MOJ6UqeP8kjjnL1pb3rRp6TANJZTIFQAa11StMWemUQs6ZLNQQPwy1g0BrOt-Y4ptu2I_g"
        }
  recorded_at: Thu, 17 Mar 2016 04:11:15 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"parents":[]}'
    headers:
      Authorization:
      - Bearer ya29.qAKPkIs4S5fca1xZX05gRgeuCgoDK31FOe1I1tNmW6QpCVKu9w_TXBoEzC6MaHLzJbs
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uqdk625707LH9mGjvMnvUFHnNMEDXGID0JT4J_ISYzcdx-bnx37Gtb26CtVZ8l9LMXEvOf4rxdp8d6f4Ysfukd-VYKKMw&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uqdk625707LH9mGjvMnvUFHnNMEDXGID0JT4J_ISYzcdx-bnx37Gtb26CtVZ8l9LMXEvOf4rxdp8d6f4Ysfukd-VYKKMw&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/GlHbBFDt284X6eEw1J1Fe2ngpC0"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qgg1:4518
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpuCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGOCm687uAiJHOTg0MTI3MTI4MDAtOW9sanRkNnNvOXVkdDdndHE5b3RkcjI2bnBsbGlidTcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20w7w4w8Q5KWxJIeWEyOS5xQUtQa0lzNFM1ZmNhMXhaWDA1Z1JnZXVDZ29ESzMxRk9lMUkxdE5tVzZRcENWS3U5d19UWEJvRXpDNk1hSEx6SmJzMAQ6DTEvd1l2WEllOFBjbH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 17 Mar 2016 04:11:15 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 04:11:16 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uqdk625707LH9mGjvMnvUFHnNMEDXGID0JT4J_ISYzcdx-bnx37Gtb26CtVZ8l9LMXEvOf4rxdp8d6f4Ysfukd-VYKKMw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.qAKPkIs4S5fca1xZX05gRgeuCgoDK31FOe1I1tNmW6QpCVKu9w_TXBoEzC6MaHLzJbs
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE4Nzg3NjQ1MQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexnSkdOQjVtZl9OdUE",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE4Nzg3NjQ1MQ\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnSkdOQjVtZl9OdUE",
         "webContentLink": "https://docs.google.com/uc?id=0B37u_eLqcexnSkdOQjVtZl9OdUE&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B37u_eLqcexnSkdOQjVtZl9OdUE/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/generic_app_icon_16.png",
         "title": "Untitled",
         "mimeType": "application/text",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-17T04:11:16.451Z",
         "modifiedDate": "2016-03-17T04:11:16.451Z",
         "modifiedByMeDate": "2016-03-17T04:11:16.451Z",
         "lastViewedByMeDate": "2016-03-17T04:11:16.451Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "169",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnSkdOQjVtZl9OdUE/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-0g-2c-docs.googleusercontent.com/docs/securesc/odi09ajak630ptsu4johj608bcao2g6p/f0bum29t0clmi4p5hm8osmd3u45r4j5f/1458187200000/13737777834403275468/13737777834403275468/0B37u_eLqcexnSkdOQjVtZl9OdUE?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/Dp1jqa4SyCYDE4oZEm5HSPrqXB4\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnSkdOQjVtZl9OdUE/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Untitled",
         "fileExtension": "",
         "md5Checksum": "d41d8cd98f00b204e9800998ecf8427e",
         "fileSize": "0",
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B37u_eLqcexnY3YzbXRTTDlMOFhjM1hWdFluL2FJNzh1RmowPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Thu, 17 Mar 2016 04:11:17 GMT
recorded_with: VCR 2.9.3
