---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.qALZmWFtazS-0KH8FVpvnLZG1_HWzQ-D0URZh-2s1Uyis9As-xnHUwVd2Ha0z7k3T2w",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjA4ZjljN2MwMDhjZGEwNWJmYWJhNDMzYjZhMWVhN2NkNGZjNTg4ZjcifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6IkxqbmVCcG5JR1hGSlBsc1NPTWgzX3ciLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTgxODc4NzcsImV4cCI6MTQ1ODE5MTQ3N30.qd8mX2BzICBpzfNyuaHwm0jWihjEBMTRVj2eFxgxZkLpO6CshXu_A7VALMF2AVnjdaHT_xm7HhJO5zEvllJ9zs3zEHvNL-75gwuMWdBiwVX2XXVc2KxfycnZf0xxJ9pq4m8BCb3v8tiZF4NaOq8QR3wSA8_k_W_dIY09QapcEx1iCDm0lVNpM0cI3T0hjxwK0RYB4-OYcp9yK_zCC8idWNIpDyzW2Wt9aY7OtUimirut9ukbtCdTMuGJZFTtsxxFVQCT8MkzbbB6hMZnEkdo64bx3J8eIrI4Ii3nQSJgPSRGG4OOoMdrG0gfeOEMRckLKv_Yka-uzVFLLA71Pu3lTA"
        }
  recorded_at: Thu, 17 Mar 2016 04:11:17 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"parents":[]}'
    headers:
      Authorization:
      - Bearer ya29.qAKPkIs4S5fca1xZX05gRgeuCgoDK31FOe1I1tNmW6QpCVKu9w_TXBoEzC6MaHLzJbs
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrYsmFS2ntBfxhdGWgA0VyeOIDwpzMPGwPev-fmAiin2KFfNTZiBY-oc35COJF7oB8bYTVgGOqu5XcBKNZIjyt22m9A2Q&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrYsmFS2ntBfxhdGWgA0VyeOIDwpzMPGwPev-fmAiin2KFfNTZiBY-oc35COJF7oB8bYTVgGOqu5XcBKNZIjyt22m9A2Q&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/GlHbBFDt284X6eEw1J1Fe2ngpC0"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qges38:4745
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpuCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGOCm687uAiJHOTg0MTI3MTI4MDAtOW9sanRkNnNvOXVkdDdndHE5b3RkcjI2bnBsbGlidTcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20w7w4w8Q5KWxJIeWEyOS5xQUtQa0lzNFM1ZmNhMXhaWDA1Z1JnZXVDZ29ESzMxRk9lMUkxdE5tVzZRcENWS3U5d19UWEJvRXpDNk1hSEx6SmJzMAQ6DTEvd1l2WEllOFBjbH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 17 Mar 2016 04:11:17 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 04:11:17 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrYsmFS2ntBfxhdGWgA0VyeOIDwpzMPGwPev-fmAiin2KFfNTZiBY-oc35COJF7oB8bYTVgGOqu5XcBKNZIjyt22m9A2Q&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.qAKPkIs4S5fca1xZX05gRgeuCgoDK31FOe1I1tNmW6QpCVKu9w_TXBoEzC6MaHLzJbs
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE4Nzg3ODIzMw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexnRVd4OXJySXdpWE0",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE4Nzg3ODIzMw\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnRVd4OXJySXdpWE0",
         "webContentLink": "https://docs.google.com/uc?id=0B37u_eLqcexnRVd4OXJySXdpWE0&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B37u_eLqcexnRVd4OXJySXdpWE0/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/generic_app_icon_16.png",
         "title": "Untitled",
         "mimeType": "application/text",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-17T04:11:18.233Z",
         "modifiedDate": "2016-03-17T04:11:18.233Z",
         "modifiedByMeDate": "2016-03-17T04:11:18.233Z",
         "lastViewedByMeDate": "2016-03-17T04:11:18.233Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "172",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnRVd4OXJySXdpWE0/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-04-2c-docs.googleusercontent.com/docs/securesc/odi09ajak630ptsu4johj608bcao2g6p/9ponqv5k1r2ul2ln5gdqlpgcqphclnd5/1458187200000/13737777834403275468/13737777834403275468/0B37u_eLqcexnRVd4OXJySXdpWE0?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/cBG7i3gguQBA5p2-f2gzW3BksCw\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnRVd4OXJySXdpWE0/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Untitled",
         "fileExtension": "",
         "md5Checksum": "d41d8cd98f00b204e9800998ecf8427e",
         "fileSize": "0",
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B37u_eLqcexnU3FNcEVUWDczamF1TW4zTUh5VzBJN3RNZXFFPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Thu, 17 Mar 2016 04:11:18 GMT
[...]
