---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.ngL4piI4fj0fmcKBtaLol4VYwEul5kN8KaQD9j_ehdFvSZErdAdsaHjPXpjpKWrDrg",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjdlYzM2ZGJmMWU3YWVkZTg3MmE1ZGY5OTVhNjU0NDZlYzc4M2EzYzkifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6InY1cTlRc3hDSGdrY3ctU2JZc0hOMlEiLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTczMjQzMTEsImV4cCI6MTQ1NzMyNzkxMX0.qkh5k0FfCYM2D0nioZkZT5lVe-6CdND8CIzYZS-UkuUosxBwiIpNYm32TD-6AguFpCtFUZCFaH4dGow7RrZkfP8S6WkVhl8Xs1tCtaePIHtEgdm1yHVuCmAssh7lY7okSRcunyeqLJygdVFm-N_J84pZV3-HQpUK7n2rAoXdZCg85XYvbi4OzjO5T5ojdzO4GUkHNhhE2s3RxeuKWaPKhbJTKzuqva-Zd29Wl-fjciXJYuqO1BBrMx-VaUkkLr0SAzsw5dA_5-tQGpHD6ncNHSG_y5DptnAGB3OyO81MRK2d-wbSNQYh0KnS9V6ybd5M6nAQ14nKROxhrrJ4Pen7CQ"
        }
  recorded_at: Mon, 07 Mar 2016 04:18:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"mimeType":"application/vnd.google-apps.folder","title":"Iolite_Base"}'
    headers:
      Authorization:
      - Bearer ya29.ngL4piI4fj0fmcKBtaLol4VYwEul5kN8KaQD9j_ehdFvSZErdAdsaHjPXpjpKWrDrg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzMyNDMxMTUzMQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexnbGgzY2FDTGtpYTQ",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzMyNDMxMTUzMQ\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnbGgzY2FDTGtpYTQ",
         "alternateLink": "https://docs.google.com/folderview?id=0B37u_eLqcexnbGgzY2FDTGtpYTQ&usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_collection_list_1.png",
         "title": "Iolite_Base",
         "mimeType": "application/vnd.google-apps.folder",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-07T04:18:31.531Z",
         "modifiedDate": "2016-03-07T04:18:31.531Z",
         "modifiedByMeDate": "2016-03-07T04:18:31.531Z",
         "lastViewedByMeDate": "2016-03-07T04:18:31.531Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "71",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnbGgzY2FDTGtpYTQ/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/82AnD1GYqrE0ffPvR5r-hMg2yJw\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnbGgzY2FDTGtpYTQ/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": false,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Mon, 07 Mar 2016 04:18:32 GMT
recorded_with: VCR 2.9.3
