---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.pwINMflGYUn2vbwItGbuCyQGW00ooR8dDuY8hhVS5v6z-YaK2A6fcPV6zVw8Cn3OmzI",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjA4ZjljN2MwMDhjZGEwNWJmYWJhNDMzYjZhMWVhN2NkNGZjNTg4ZjcifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6IkVUZC1fa0ZRZDhmdUY2Ni1LM3c0ZGciLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTgxNTAwNzQsImV4cCI6MTQ1ODE1MzY3NH0.lWDBNQhpvp6yxrxqtc3ZNU-PpIoHuoV878qR5VhbbW7JfQOA4Xy3i4m9AgGKfpinkSKpJBk6o_iPslvjDP4f9espVIQ6_DN4B5I1vCxjkdCTBpFLXls6fsZwXAhKXJACDA_jjm1hQg435wHFP-Dmq-AMRt50_JgZd5x74k4FqmxpqkGFi0-8CAFaZnz_s0xME4CgygPymSzIJkiFmFp_2E3gUaefalxmWOwrc5cCTYcqtTo7xB23JnJxZXIAuqHcgodoRegXL4DUfcmKJ6z5Q_8kVfdUVCFPqQmX-nmJHSz00MLyX3rXFnFRUfQrpHv6-3bz_bA8GFgUJU1AvPeOOw"
        }
  recorded_at: Wed, 16 Mar 2016 17:41:14 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.pwJyjhMSIyUmFI0IQWIPY4JX0zLpvYi-FdQTxR6PXGV9xMKYYvCtECaCyVNbRmhK08w
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE1MDYzMTE5Mw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexnWUFjMGVqN3REcVE",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE1MDYzMTE5Mw\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnWUFjMGVqN3REcVE",
         "webContentLink": "https://docs.google.com/uc?id=0B37u_eLqcexnWUFjMGVqN3REcVE&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B37u_eLqcexnWUFjMGVqN3REcVE/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_10_generic_list.png",
         "title": "Untitled",
         "mimeType": "application/octet-stream",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-16T17:50:31.193Z",
         "modifiedDate": "2016-03-16T17:50:31.193Z",
         "modifiedByMeDate": "2016-03-16T17:50:31.193Z",
         "lastViewedByMeDate": "2016-03-16T17:50:31.193Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "145",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnWUFjMGVqN3REcVE/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-0o-2c-docs.googleusercontent.com/docs/securesc/odi09ajak630ptsu4johj608bcao2g6p/fou1a462t8pbt70d3osgeg6do5t1eqsa/1458144000000/13737777834403275468/13737777834403275468/0B37u_eLqcexnWUFjMGVqN3REcVE?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/T5Nbi7IkR6xs9J94j6M7OmGO2E8\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnWUFjMGVqN3REcVE/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "",
         "fileExtension": "",
         "md5Checksum": "d41d8cd98f00b204e9800998ecf8427e",
         "fileSize": "0",
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B37u_eLqcexnU2xCZ2hGUUhqRVMyTzlhenE1WkN2SDlhaVQ4PQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Wed, 16 Mar 2016 17:50:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.pwL3fUk0jbKG2eZkv2t5eOQqoRrrxp3JTyDYQn1e_dLeL4l9fevDcHcWqqDPWRYcfpg
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uo5ULtssWD458pJtrNzSP_SvAnZHiSwZjhuVxpLvmsj_eXFeNIcNuInqz0ybdg9oy3E6K-pASbbJF5X34sf6RYLFtV21g&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uo5ULtssWD458pJtrNzSP_SvAnZHiSwZjhuVxpLvmsj_eXFeNIcNuInqz0ybdg9oy3E6K-pASbbJF5X34sf6RYLFtV21g&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/GlHbBFDt284X6eEw1J1Fe2ngpC0"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qgpp38:4552
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpuCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGOCm687uAiJHOTg0MTI3MTI4MDAtOW9sanRkNnNvOXVkdDdndHE5b3RkcjI2bnBsbGlidTcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20w7w4w8Q5KWxJIeWEyOS5wd0wzZlVrMGpiS0cyZVprdjJ0NWVPUXFvUnJyeHAzSlR5RFlRbjFlX2RMZUw0bDlmZXZEY0hjV3FxRFBXUlljZnBnMAQ6DTEvd1l2WEllOFBjbH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Wed, 16 Mar 2016 17:52:32 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 16 Mar 2016 17:52:32 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uo5ULtssWD458pJtrNzSP_SvAnZHiSwZjhuVxpLvmsj_eXFeNIcNuInqz0ybdg9oy3E6K-pASbbJF5X34sf6RYLFtV21g&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.pwL3fUk0jbKG2eZkv2t5eOQqoRrrxp3JTyDYQn1e_dLeL4l9fevDcHcWqqDPWRYcfpg
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE1MDc1MzM2NQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexnRmg2eGhNejRGXzQ",
       [...]
