---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.qAIuyaalx2HJGsptqtObt1NgfRkaco-tGXDJJm84ve0SFnbV5UHYoL_WkRkRLYtDQNc",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjA4ZjljN2MwMDhjZGEwNWJmYWJhNDMzYjZhMWVhN2NkNGZjNTg4ZjcifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6IkNvbWR1VXBLcnZKdEg4X25qMjB0ZHciLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTgxODIxMTEsImV4cCI6MTQ1ODE4NTcxMX0.nqetr5oc89z3jlfwRzTEnHxGUCT-WfVrVoRAKB7wiJaluQT-WS__BhzWm3TOjBaLHhiijiKfnKQnZfg65N_s8vXQm_fq45gVAtQliRolmBbq15zehH8NUMHgkN5wTH7CiPU4zjoP-5kZw8gZ0jkylQM2YV_L_OuHbFkAX6tgMV2NBWHpxVi7Zqcp-m3_NECIRdU4JVh8dieHFmZbELznXxrBmnxDuU8Vh3DupKwxvlqUotiE3lV9pSLqAegpY5wqEKSj6JUa20CJSVHVFFcTFaLYfDcH5SF_7-aH64TKtV5kExyKrlHibiLoNCehk4_CWtNdxRziK0xTD0UqmjkdsA"
        }
  recorded_at: Thu, 17 Mar 2016 02:35:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"parents":[]}'
    headers:
      Authorization:
      - Bearer ya29.qAIAJHTb5M1wDDuGp-VsRACAJCWhDEb51u8XI_zBmFmps2hAEgzDo7HOxzUOChIGSAE
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Ur59v9DwCW8it5TPlRn93-S7q8gFfyhgqE5_reybg5xqlg16DFl6_xBn4OPf55qYuKbJcOeBbi-qYnyvKBJo6Fs6lAmhg&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Ur59v9DwCW8it5TPlRn93-S7q8gFfyhgqE5_reybg5xqlg16DFl6_xBn4OPf55qYuKbJcOeBbi-qYnyvKBJo6Fs6lAmhg&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/GlHbBFDt284X6eEw1J1Fe2ngpC0"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qgdq35:4506
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpuCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGOCm687uAiJHOTg0MTI3MTI4MDAtOW9sanRkNnNvOXVkdDdndHE5b3RkcjI2bnBsbGlidTcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20w7w4w8Q5KWxJIeWEyOS5xQUlBSkhUYjVNMXdERHVHcC1Wc1JBQ0FKQ1doREViNTF1OFhJX3pCbUZtcHMyaEFFZ3pEbzdIT3h6VU9DaElHU0FFMAQ6DTEvd1l2WEllOFBjbH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Thu, 17 Mar 2016 02:35:11 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 02:35:12 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Ur59v9DwCW8it5TPlRn93-S7q8gFfyhgqE5_reybg5xqlg16DFl6_xBn4OPf55qYuKbJcOeBbi-qYnyvKBJo6Fs6lAmhg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.qAIAJHTb5M1wDDuGp-VsRACAJCWhDEb51u8XI_zBmFmps2hAEgzDo7HOxzUOChIGSAE
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE4MjExMjQyOA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexneXlZbDBUdXYwRmc",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1ODE4MjExMjQyOA\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexneXlZbDBUdXYwRmc",
         "webContentLink": "https://docs.google.com/uc?id=0B37u_eLqcexneXlZbDBUdXYwRmc&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B37u_eLqcexneXlZbDBUdXYwRmc/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/generic_app_icon_16.png",
         "title": "Untitled",
         "mimeType": "application/text",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-17T02:35:12.428Z",
         "modifiedDate": "2016-03-17T02:35:12.428Z",
         "modifiedByMeDate": "2016-03-17T02:35:12.428Z",
         "lastViewedByMeDate": "2016-03-17T02:35:12.428Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "165",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexneXlZbDBUdXYwRmc/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-0s-2c-docs.googleusercontent.com/docs/securesc/odi09ajak630ptsu4johj608bcao2g6p/dctn0dur0ii5tn3ouk0gojomr5kru6qg/1458180000000/13737777834403275468/13737777834403275468/0B37u_eLqcexneXlZbDBUdXYwRmc?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MYOSYX4wP-LYmKk5dOcC01SNNbs\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexneXlZbDBUdXYwRmc/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Untitled",
         "fileExtension": "",
         "md5Checksum": "d41d8cd98f00b204e9800998ecf8427e",
         "fileSize": "0",
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B37u_eLqcexnaUhyUFhhTm0wUnJmRm1yWkd2dVJxQW9xR1dnPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Thu, 17 Mar 2016 02:35:12 GMT
[...]
