---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqSJ6AbtxH1mzcv8grbtppkYAOxd9wbi8DCfO4uNtifq39Dm-sUAVBCOwDjFu_PwLwH74byulYP8jKbq0GVDVEDzr6MZg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.pAJnFKVmjXaIQHPrOLhBmJXwCR_qzsEbtl4F59bUqgGAPWZKjkYURV1shVHwhBP1FuQ
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzkxNDk3NzkzMA"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "0B37u_eLqcexnNHZ2T0N1d0F2VUk",
         "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/MTQ1NzkxNDk3NzkzMA\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnNHZ2T0N1d0F2VUk",
         "webContentLink": "https://docs.google.com/uc?id=0B37u_eLqcexnNHZ2T0N1d0F2VUk&export=download",
         "alternateLink": "https://drive.google.com/file/d/0B37u_eLqcexnNHZ2T0N1d0F2VUk/view?usp=drivesdk",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/generic_app_icon_16.png",
         "title": "Untitled",
         "mimeType": "application/text",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2016-03-14T00:22:57.930Z",
         "modifiedDate": "2016-03-14T00:22:57.930Z",
         "modifiedByMeDate": "2016-03-14T00:22:57.930Z",
         "lastViewedByMeDate": "2016-03-14T00:22:57.930Z",
         "markedViewedByMeDate": "1970-01-01T00:00:00.000Z",
         "version": "126",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AH7u_eLqcexnUk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnNHZ2T0N1d0F2VUk/parents/0AH7u_eLqcexnUk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AH7u_eLqcexnUk9PVA",
           "isRoot": true
          }
         ],
         "downloadUrl": "https://doc-14-2c-docs.googleusercontent.com/docs/securesc/odi09ajak630ptsu4johj608bcao2g6p/22buqvj5ionm9pm0cri526dt6bev2f16/1457913600000/13737777834403275468/13737777834403275468/0B37u_eLqcexnNHZ2T0N1d0F2VUk?e=download&gd=true",
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/nAKqZhdP2_G441GU63cOFPtU5n0\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnNHZ2T0N1d0F2VUk/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "originalFilename": "Untitled",
         "fileExtension": "",
         "md5Checksum": "d41d8cd98f00b204e9800998ecf8427e",
         "fileSize": "0",
         "quotaBytesUsed": "0",
         "ownerNames": [
          "Peter Karth"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Peter Karth",
           "isAuthenticatedUser": true,
           "permissionId": "13737777834403275468",
           "emailAddress": "peterkarth.dev.testing@gmail.com"
          }
         ],
         "lastModifyingUserName": "Peter Karth",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Peter Karth",
          "isAuthenticatedUser": true,
          "permissionId": "13737777834403275468",
          "emailAddress": "peterkarth.dev.testing@gmail.com"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "explicitlyTrashed": false,
         "appDataContents": false,
         "headRevisionId": "0B37u_eLqcexnUVJDQkdCUjR4bzVYNTJJMW1LTnJWMGdackpvPQ",
         "spaces": [
          "drive"
         ]
        }
  recorded_at: Mon, 14 Mar 2016 00:22:59 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FwYvXIe8PclxROY5xQtDV7Gs18teAwpKwD7U1ue1ErVE&client_id=98412712800-9oljtd6so9udt7gtq9otdr26npllibu7&client_secret=Q6f7OftqPgMkQips40Fx2BW8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.pAJpECtGmV-kKlk-eBUYeDf6egImm-z-_gPpPuKAk81N51WVVqCB9px2bDYXVv3DB8M",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjYxNjJlNjgwOWQ2NGQwNzJiMTk5OWIzYWZkMjI2NThmYjQ3NjcwN2QifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiYXRfaGFzaCI6InVSTEJjR1BTWlJ0dm42dGxqUVo4dWciLCJhdWQiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMTQzNDA2MTcyMjU2NDQwOTUzNSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiI5ODQxMjcxMjgwMC05b2xqdGQ2c285dWR0N2d0cTlvdGRyMjZucGxsaWJ1Ny5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20iLCJpYXQiOjE0NTc5MTUxODcsImV4cCI6MTQ1NzkxODc4N30.cIJSOS7s3D8jqFOZpvMjau02fHTgf202-SwGd7sdS7k1__ir5lqCbtK6WA6KXXW16H6p-4dPSDpDBFPABJb44565dNo0gJo8kFKFDL8EcS-k36XVtiCbSnbXnm9YWHQkiZFJktUaAcvXEsSff47RzDhQQvWNdcKeOLUu4SlyDnUI4nhw7y6nQ_Pmwm9A_DIbfkzMbFIZnBOeCjnXJQS0jbkdOCRzK6Yh-sWxmDDmgmM2HA6pFdUZDmkpb9k21j_0yyUAz68uBgQJr6J_HI8RAXBulzocnllr1Bp2VA584IQLQBHb_c9dSLi1GUQGSyy720mrAN-impKbpBVev0libw"
        }
  recorded_at: Mon, 14 Mar 2016 00:26:27 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer ya29.pAJpECtGmV-kKlk-eBUYeDf6egImm-z-_gPpPuKAk81N51WVVqCB9px2bDYXVv3DB8M
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrUMOXYbhYzfx77-5So4YzqDYy0TZCfHRmYXxR7R14T0PRuMcyygqkeKOq714N7hsPQowPUL-EtJ8h4d_U2KEpshAI9Lg&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrUMOXYbhYzfx77-5So4YzqDYy0TZCfHRmYXxR7R14T0PRuMcyygqkeKOq714N7hsPQowPUL-EtJ8h4d_U2KEpshAI9Lg&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"c-g_a-1OtaH-kNQ4WBoXLp3Zv9s/GlHbBFDt284X6eEw1J1Fe2ngpC0"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qgx66:4538
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpuCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGOCm687uAiJHOTg0MTI3MTI4MDAtOW9sanRkNnNvOXVkdDdndHE5b3RkcjI2bnBsbGlidTcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20w7w4w8Q5KWxJIeWEyOS5wQUpwRUN0R21WLWtLbGstZUJVWWVEZjZlZ0ltbS16LV9nUHBQdUtBazgxTjUxV1ZWcUNCOXB4MmJEWVhWdjNEQjhNMAQ6DTEvd1l2WEllOFBjbH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Fri, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Mon, 14 Mar 2016 00:26:27 GMT
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Mar 2016 00:26:27 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UrUMOXYbhYzfx77-5So4YzqDYy0TZCfHRmYXxR7R14T0PRuMcyygqkeKOq714N7hsPQowPUL-EtJ8h4d_U2KEpshAI9Lg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.pAJpECtGmV-kKlk-eBUYeDf6egImm-z-_gPpPuKAk81N51WVVqCB9px2bDYXVv3DB8M
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-G[...]
