---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UphogegHVWVEzgtXDVsgoOIhQv9HkUhPvk0MKy_4_XKRoEdYf8ji9TolbXUp8zXct1MWllt-RWHbKrWboIpzYhOql5SyZirBqNuMukXc6vN4kVrHTc&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA8PtL5Q5HGWgoinrEND9VPWALN_vP9ABRdc_GszYCHyx0H4PnRBY4KD5eq5AWw
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NTg4MTM4Mw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:38:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnT2ZYNDlJZHpVLVU
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:38:02 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UoVnTol547bbxTF8RD5ZGplSJ_CVjRfjrPKt9LAZY_tlbmRYFYoWZlurV1zpzFDCXLlpEDLlnj7l5pPQAZcjR6ITzy-Hw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA-_jtT7wDt-EhIRQOGjNRa8LBiFT6i49ZBvGE4-QOfLhwvB2XykHC-DVdm_jUw
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjA2NTkxNQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:41:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnX1FBNWhsTEVSRHc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:41:06 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UqgBi7ZzxJkXxkhA9iLaLWT0Br_0zg6v9KYsnRRoQzYq3m7n24S0t-0-o2KqWrkgsEMHXro13vaRvfh1jCFaM-wvdkF3w&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA1UvoenhZrZ1teh0c8C4GPtUdHJ6XkGlPi7sZuqH9Ahjbmy_hheHboM6DaYD-Q
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjEzMjc3Mg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:42:13 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnbWlRcTBVdHoyN28
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:42:13 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uqmjfp9GsYvCg2jXuZ7DUJz_qOxLw5kqE_zZV6HCkpA_CW6X-DGehRHLvekNZlUGivzr1Ty6NWg2mKFWicIDBIdIKAJfA&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA-FljvdXh-gAekhNtZpSOZlN5vUpf4Au3dSZJjh4Tv561gPrvx_fGy3CMYBl-Q
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjI4MjQyNA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:44:42 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnUGxzcGdFY2h1dWs
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:44:43 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<ENCODED_REFRESH_TOKEN>&client_id=<CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.Ci-XAxWOs38PDSTJkrqsymkEwxfbVKNEYSjibT8DYhOzRWH_Kg5pXtvb4Rk4jnXocQ",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6ImRhOWUzZDdjZGQxYjQxNzgwMTBmODlhZjExY2ZkMzc0MDAwNjFhZmMifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiaWF0IjoxNDc5MjQ3MTUwLCJleHAiOjE0NzkyNTA3NTAsImF0X2hhc2giOiJRUlFIN2ZPaGZRb2N3TDMtcjdvU3NBIiwiYXVkIjoiNDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTExNDM0MDYxNzIyNTY0NDA5NTM1IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF6cCI6IjQ5NDEwMTYyMjIxOS1sMWhkcGg3cmNqaWkya2JsYmxkbTEwN3U3dGxqbm1lMS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20ifQ.QSNJ5nXDoC5YxMbrtyi9Sfr8v8AA68uHc7mFVKn78pU3ZmS_OVp5v358exwpQ4PjzajeCLyzNuYHg5ujzeTZm9j3t6aM1WcLIpPh95sG-9p0PllPBBLWm7iuBFROtWrHqnnXifJz-TR7RGL7XCwmdmRx5DViLIHDJvy2L6pwHaq7Af4GkM5LN4c_PgCqEEleHgs0Ja0sGhx_TuMAVrT_5xHRKhDdJ1If3IgoXc6H5VfaoSpIXXlA6Z402tfd4tY-Czym8-RDXbvKFm6BmyEhqUSK2jRWsOPMgBcUtMibx6Uq8wFIv7tvhLncmVVTmJS-dVcTW9L9mM0TkMyZc866Dg",
          "token_type" : "Bearer"
        }
  recorded_at: Tue, 15 Nov 2016 21:59:10 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"id":"","parents":[],"title":"Fake Title"}'
    headers:
      Authorization:
      - Bearer ya29.Ci-XAxWOs38PDSTJkrqsymkEwxfbVKNEYSjibT8DYhOzRWH_Kg5pXtvb4Rk4jnXocQ
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uq2GrQSLnLrKtVGm2cPI5HeEwKRZ80o3vWrHieNbXzJDHbs-9DSfAETM8gbqUk-VPzXVENJlJBZxzTGpZitRCgsG5xFtw&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uq2GrQSLnLrKtVGm2cPI5HeEwKRZ80o3vWrHieNbXzJDHbs-9DSfAETM8gbqUk-VPzXVENJlJBZxzTGpZitRCgsG5xFtw&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/Zl6k3BhfJxRF5XoxhNV-ktqPg_4"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qkcd85:4669
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpyCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGMvbgdawDiJINDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOMPgOMO8OSloSR3lhMjkuQ2ktWEF4V09zMzhQRFNUSmtycXN5bWtFd3hmYlZLTkVZU2ppYlQ4RFloT3pSV0hfS2c1cFh0dmI0Ums0am5Yb2NRMAQ6DTEvMFlId3FlUnRhRH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Tue, 15 Nov 2016 21:59:11 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uq2GrQSLnLrKtVGm2cPI5HeEwKRZ80o3vWrHieNbXzJDHbs-9DSfAETM8gbqUk-VPzXVENJlJBZxzTGpZitRCgsG5xFtw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAxWOs38PDSTJkrqsymkEwxfbVKNEYSjibT8DYhOzRWH_Kg5pXtvb4Rk4jnXocQ
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NzE1MTQxMA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:11 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=&client_id=<CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : "invalid_request",
          "error_description" : "Missing required parameter: refresh_token"
        }
  recorded_at: Tue, 15 Nov 2016 21:59:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexncmtEWGF0ODlWbmc
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:12 GMT
recorded_with: VCR 2.9.3
