---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2Uqi5O0XW2Y2OV7-dVqMvtiBXRyrhq2w_RtbvHOc9gSCSaZyfDVEr_QdJCYY5bZ0fV2ngQF6ilEFbOx7LQKJ5MM9YRqrp4oExkvXSDS4rpdnRauNauw&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAyM1C-ugRVlDNONtIBDWHJYm98F-GlNUwdj0y4A5RmIJPQV67hGWdam7QPK0XA
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NTg3NjgzNA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:37:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnWC1nVl9PdHB4anM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAyM1C-ugRVlDNONtIBDWHJYm98F-GlNUwdj0y4A5RmIJPQV67hGWdam7QPK0XA
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NTg3NjgzNA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:37:57 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpdPvczX_O4eDMgRLFna44aDIma2i8GdZ6IkV6rNkKNaysUCHlxvYCHTjaYD2Tw1vAVgvl1xwqgXZ58duEHIRbjnMtOYg&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA848GkPcLzBPxLBkBYBaDXlzAeIhLlMrjKuUngK9tWu_SRcdMiNO3BJ8Mpyw4A
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjA3MTA2NQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:41:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnTUtob0l0eHRUOU0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA848GkPcLzBPxLBkBYBaDXlzAeIhLlMrjKuUngK9tWu_SRcdMiNO3BJ8Mpyw4A
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjA3MTA2NQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:41:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UosbLBDoGylGUGFGCUiWvMytYyeK9cnctZ29R_c_0-4E9wU-Hjy2sHPRt5k006pxWinEolCzaZBl8SmCf7cOv2ZxZyLFA&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjEyNzY0NQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:42:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnYnM5MzRYRkxLcDg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjEyNzY0NQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:42:09 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpC_NUI1lF6m41XZo5AVPMZITDZu_ZOUBOUV6QeuG0DYr1oMKuDM-t5KVX5LFGqSwPCX4GyNE0shKGY8vJrMoMZAIPp_A&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA3IUgIT-Rk4YQQbbXI0HMMPwDhc262bk05s6DM-RK_QKc01vci-FmbLl1us2Rw
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjI4MDg2Nw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:44:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnN3cwRE5IM3IzQkE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XA3IUgIT-Rk4YQQbbXI0HMMPwDhc262bk05s6DM-RK_QKc01vci-FmbLl1us2Rw
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NjI4MDg2Nw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:44:41 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=<ENCODED_REFRESH_TOKEN>&client_id=<CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.Ci-XAxb1Mker4EZTMghvbptmSQvmnjaLO_8FbcGSIgA9UyQaFAMzl5EhrasJ4EByhg",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6ImRhOWUzZDdjZGQxYjQxNzgwMTBmODlhZjExY2ZkMzc0MDAwNjFhZmMifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiaWF0IjoxNDc5MjQ3MTQ1LCJleHAiOjE0NzkyNTA3NDUsImF0X2hhc2giOiJDTkFTUTdDQ2dEelcyZnpVdGdZUndRIiwiYXVkIjoiNDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwic3ViIjoiMTExNDM0MDYxNzIyNTY0NDA5NTM1IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF6cCI6IjQ5NDEwMTYyMjIxOS1sMWhkcGg3cmNqaWkya2JsYmxkbTEwN3U3dGxqbm1lMS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImVtYWlsIjoicGV0ZXJrYXJ0aC5kZXYudGVzdGluZ0BnbWFpbC5jb20ifQ.RUmOiB7cC3b5xEHOflW6FKYqggvwsvIsuIpYPwxCsRnCywpKcJ-pbSrpPyy4DWbetc-jiAawuVOIs-VkjJZ6OvZ3q4PA7bDTfo3sqMh34gMJJ-D5beq0P3dQu49uBpwK1zeVehARzOo9d6Ca3lOhEXtfyZehNWJc5QyDwz1PCmRiDWaI_Y4tV64sQVQKW9cjV2iTt4pXveI8q8TpENdAbI1O2TWDSmEi1TIv9SqmE2DafbvIac1FnhoUOgGhIcfOsNDU7CKxtHPKcNsm61vQD7iiMWoN1zrRGA3CbjJgn6P0a_w2iqG9io8B7SpunNzGC8fPMk2rJ5uR1gt5hWJzGQ",
          "token_type" : "Bearer"
        }
  recorded_at: Tue, 15 Nov 2016 21:59:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files
    body:
      encoding: UTF-8
      string: '{"id":"","parents":[],"title":"Fake Title"}'
    headers:
      Authorization:
      - Bearer ya29.Ci-XAxb1Mker4EZTMghvbptmSQvmnjaLO_8FbcGSIgA9UyQaFAMzl5EhrasJ4EByhg
      Content-Type:
      - application/json
      X-Goog-Upload-Protocol:
      - resumable
      X-Goog-Upload-Command:
      - start
      X-Goog-Upload-Header-Content-Length:
      - '0'
      X-Goog-Upload-Header-Content-Type:
      - application/text
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - active
      X-Goog-Upload-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpdrNp7cKpq0PPHUSX2zlp-PHLj5UuGn_Y-WeDEFbdYE4mEniaUoKg_KLq7A8n7gALQJHD7Z7_U6r8SYJZoUV1Lpthw1w&upload_protocol=resumable
      X-Goog-Upload-Control-Url:
      - https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpdrNp7cKpq0PPHUSX2zlp-PHLj5UuGn_Y-WeDEFbdYE4mEniaUoKg_KLq7A8n7gALQJHD7Z7_U6r8SYJZoUV1Lpthw1w&upload_protocol=resumable
      X-Goog-Upload-Chunk-Granularity:
      - '262144'
      X-Goog-Upload-Header-Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/Zl6k3BhfJxRF5XoxhNV-ktqPg_4"'
      X-Goog-Upload-Header-Vary:
      - Origin
      - X-Origin
      X-Goog-Upload-Header-X-Google-Backends:
      - qkfn185:4612
      X-Goog-Upload-Header-X-Google-Session-Info:
      - CNnQovTQAhoCGAYwADpyCg9kcml2ZS1yb3N5LXByb2QSBWRyaXZlGMvbgdawDiJINDk0MTAxNjIyMjE5LWwxaGRwaDdyY2ppaTJrYmxibGRtMTA3dTd0bGpubWUxLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tMPEOMPgOMO8OSloSR3lhMjkuQ2ktWEF4YjFNa2VyNEVaVE1naHZicHRtU1F2bW5qYUxPXzhGYmNHU0lnQTlVeVFhRkFNemw1RWhyYXNKNEVCeWhnMAQ6DTEvMFlId3FlUnRhRH4
      X-Goog-Upload-Header-Cache-Control:
      - no-cache, no-store, max-age=0, must-revalidate
      X-Goog-Upload-Header-Pragma:
      - no-cache
      X-Goog-Upload-Header-Expires:
      - Mon, 01 Jan 1990 00:00:00 GMT
      X-Goog-Upload-Header-Date:
      - Tue, 15 Nov 2016 21:59:05 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/upload/drive/v2/files?upload_id=AEnB2UpdrNp7cKpq0PPHUSX2zlp-PHLj5UuGn_Y-WeDEFbdYE4mEniaUoKg_KLq7A8n7gALQJHD7Z7_U6r8SYJZoUV1Lpthw1w&upload_protocol=resumable
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAxb1Mker4EZTMghvbptmSQvmnjaLO_8FbcGSIgA9UyQaFAMzl5EhrasJ4EByhg
      Content-Type:
      - application/json
      X-Goog-Upload-Command:
      - upload, finalize
      X-Goog-Upload-Offset:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Upload-Status:
      - final
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NzE0NjA5NQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0B37u_eLqcexnc2lMWTJHcTFoT1E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Ci-XAxb1Mker4EZTMghvbptmSQvmnjaLO_8FbcGSIgA9UyQaFAMzl5EhrasJ4EByhg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"41zBgiQeVtkERrlow_o1l3GDE3o/MTQ3OTI0NzE0NjA5NQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 15 Nov 2016 21:59:07 GMT
recorded_with: VCR 2.9.3
