---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=&client_id=<clientid>&client_secret=<googleclientsecret>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : "invalid_request",
          "error_description" : "Missing required parameter: refresh_token"
        }
  recorded_at: Wed, 16 Nov 2016 03:03:57 GMT
recorded_with: VCR 3.0.3
