<div id="job-id-container">
  <div id="job_id">
  </div>
</div>
<div id="img">
  <pre id="output"></pre>
  <%= form_tag apply_watermark_path, id: "form" do %>
    <%= hidden_field_tag :id, @image.id, id: 'id' %>
    <%= submit_tag "Make This Image Great Again" %>
  <% end %>
</div>

<script src="https://apis.google.com/js/client.js?onload=authMe"></script>
<script src="https://apis.google.com/js/api.js"></script>
